---
extends:
---
<IfModule mod_rewrite.c>

  RewriteEngine on

  RewriteRule ^\/?$ http://derechoaleer.info/blog/ [R=301,L]

  RewriteRule ^index\.htm.?$ http://derechoaleer.info/blog/ [R=301,L]

  RewriteRule ^dl\/disenolibre\.html http://derechoaleer.info/media/files/dl/disenolibre.html [L]

</IfModule>