{% from "macros.j2" import render_excerpt, render_post with context %}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>
        {% block title %}{{ resource.meta.title|forceescape }}{% endblock %}
    </title>
    {% block self_url %}
    <link href="{{ site.config.url_domain }}{{ resource.url }}" rel="self" />
    {% endblock %}

    {% block site_url %}
    <link href="{{ site.config.url_domain }}{{ content_url('') }}"/>
    {% endblock %}

    {% block feed_extra %}
    {% endblock %}

    <updated>{{ time_now|xmldatetime }}</updated>

    <id>{{ site.config.url_domain }}{{ content_url(resource.url) }}</id>

    {% for res in resource.node.walk_resources_sorted_by_time() %}
        <entry>
            <title type="html">{{ res.meta.title|forceescape  }}</title>
            <author><name>{{ res.meta.author|forceescape  }}</name></author>
            <link href="{{ site.config.url_domain }}{{ content_url(res.url) }}"/>
            <updated>{{ res.meta.created|xmldatetime }}</updated>
            <published>{{ res.meta.created|xmldatetime }}</published>
            <id>{{ site.config.url_domain }}{{ content_url(res.url) }}</id>
            {% for tag in res.meta.tags %}
            <category   scheme="{{ site.config.url_domain }}{{ content_url('blog/tags') }}"
                        term="{{ tag|forceescape}}"
                        label="{{ tag|forceescape }}" />
            {% endfor %}

            <content type="html">
                {% refer to res.url as article -%}
                {% filter forceescape -%}
                {% if resource.meta.excerpts_only -%}
                {# article.image|markdown|typogrify #}
                {{ article.excerpt|markdown|typogrify }}
                {%- else %}
                {# article.post|markdown|typogrify //article.post no funciona! #}
                {{ article.excerpt|markdown|typogrify }}
                {%- endif %}
                <p>Seguir leyendo "<a href="{{ site.config.url_domain }}{{ content_url(res.url) }}">{{ res.meta.title|forceescape  }}</a> en Derecho a Leer</p>
                {%- endfilter %}
            </content>
        </entry>
    {% if loop.index > 10 %}{% break %}{% endif %}
    {% endfor %}
</feed>
