{% macro render_media(link, type='video') %}
{% if type == 'video' %}
<div class="media">
<video src="{{ link }}" controls>
<p>Tu navegador no soporta el elemento <code>video</code>.</p>
</video>
</div>
<p class="descargar"><a href="{{ link }}">Descargar video</a></p>
{% elif type == 'audio' %}
<div class="media">
<audio controls src="{{ link }}">
<p>Tu navegador no soporta el elemento <code>audio</code>.</p>
</audio>
</div>
<p class="descargar"><a href="{{ link }}">Descargar audio desde aquí</a>.</p>
{% elif type == 'youtube' %}
<div class="media"><iframe width="640" height="360" src="http://www.youtube.com/embed/{{ link }}" frameborder="0" allowfullscreen></iframe></div>
{% elif type == 'vimeo' %}
<div class="media"><iframe src="http://player.vimeo.com/video/{{ link }}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/{{ link }}">Ver este video en Vimeo.com</a>.</p></div>
{% endif %}
{% endmacro %}