{% macro get_rss_link(lang) %}
{% if lang == "en" %}
<link rel="alternate" type="application/atom+xml" title="Right to Read (Atom - en)" href="{{ site.config.url_domain }}/en/blog/atom.xml" />
{% elif lang == "de" %}
<link rel="alternate" type="application/atom+xml" title="Recht zu Lesen (Atom - de)" href="{{ site.config.url_domain }}/de/blog/atom.xml" />
{% elif lang == "fr" %}
<link rel="alternate" type="application/atom+xml" title="Droit de Lire (Atom - fr)" href="{{ site.config.url_domain }}/fr/blog/atom.xml" />
{% elif lang == "ca" %}
<link rel="alternate" type="application/atom+xml" title="Dret a Llegir (Atom - ca)" href="{{ site.config.url_domain }}/ca/blog/atom.xml" />
{% else %}
<link rel="alternate" type="application/atom+xml" title="Derecho a Leer (Atom - es)" href="{{ site.config.url_domain }}/blog/atom.xml" />
{% endif %}
{% endmacro %}


{% macro get_header_text(lang) -%}
{% if lang == "en" %}
<h1 id="site-name"><a href="{{ get_blog_home_url(lang) }}">Right to Read</a></h1> / <a href="{{ get_blog_home_url("br") }}">Direito de ler</a> / حق القراءة / <a href="{{ get_blog_home_url("fr") }}">Droit de lire</a> / הזכות לקרוא / <a href="{{ get_blog_home_url("ca") }}">Dret a Llegir</a> / Право читать / Právo číst / حق مطالعه / <a href="{{ get_blog_home_url("de") }}">Recht zu Lesen</a> / Okuma Hakkı / Rätten att läsa / <a href="{{ get_blog_home_url("") }}">Derecho a Leer</a> / Diritto a leggere / Pravica brati / Правото да четеш / Oikeus lukea
{% elif lang == "de" %}
<h1 id="site-name"><a href="{{ get_blog_home_url(lang) }}">Recht zu Lesen</a></h1> / <a href="{{ get_blog_home_url("br") }}">Direito de ler</a> / حق القراءة / <a href="{{ get_blog_home_url("fr") }}">Droit de lire</a> / הזכות לקרוא / <a href="{{ get_blog_home_url("ca") }}">Dret a Llegir</a> / Право читать / Právo číst / حق مطالعه / <a href="{{ get_blog_home_url("") }}">Derecho a Leer</a> / Okuma Hakkı / Rätten att läsa / <a href="{{ get_blog_home_url("en") }}">Right to Read</a> / Diritto a leggere / Pravica brati / Правото да четеш / Oikeus lukea
{% elif lang == "fr" %}
<h1 id="site-name"><a href="{{ get_blog_home_url(lang) }}">Droit de lire</a></h1> / <a href="{{ get_blog_home_url("br") }}">Direito de ler</a> / حق القراءة / <a href="{{ get_blog_home_url("") }}">Derecho a Leer</a> / הזכות לקרוא / <a href="{{ get_blog_home_url("ca") }}">Dret a Llegir</a> / Право читать / Právo číst / حق مطالعه / <a href="{{ get_blog_home_url("de") }}">Recht zu Lesen</a> / Okuma Hakkı / Rätten att läsa / <a href="{{ get_blog_home_url("en") }}">Right to Read</a> / Diritto a leggere / Pravica brati / Правото да четеш / Oikeus lukea
{% elif lang == "ca" %}
<h1 id="site-name"><a href="{{ get_blog_home_url(lang) }}">Dret a Llegir</a></h1> / <a href="{{ get_blog_home_url("br") }}">Direito de ler</a> / حق القراءة / <a href="{{ get_blog_home_url("fr") }}">Droit de lire</a> / הזכות לקרוא / <a href="{{ get_blog_home_url("") }}">Derecho a Leer</a> / Право читать / Právo číst / حق مطالعه / <a href="{{ get_blog_home_url("de") }}">Recht zu Lesen</a> / Okuma Hakkı / Rätten att läsa / <a href="{{ get_blog_home_url("en") }}">Right to Read</a> / Diritto a leggere / Pravica brati / Правото да четеш / Oikeus lukea
{% elif lang == "br" %}
<h1 id="site-name"><a href="{{ get_blog_home_url(lang) }}">Direito de ler</a></h1> / <a href="{{ get_blog_home_url("") }}">Derecho a Leer</a> / حق القراءة / <a href="{{ get_blog_home_url("fr") }}">Droit de lire</a> / הזכות לקרוא / <a href="{{ get_blog_home_url("ca") }}">Dret a Llegir</a> / Право читать / Právo číst / حق مطالعه / <a href="{{ get_blog_home_url("de") }}">Recht zu Lesen</a> / Okuma Hakkı / Rätten att läsa / <a href="{{ get_blog_home_url("en") }}">Right to Read</a> / Diritto a leggere / Pravica brati / Правото да четеш / Oikeus lukea
{% else %}
<h1 id="site-name"><a href="{{ get_blog_home_url(lang) }}">Derecho a LEER</a></h1> / <a href="{{ get_blog_home_url("br") }}">Direito de ler</a> / حق القراءة / <a href="{{ get_blog_home_url("fr") }}">Droit de lire</a> / הזכות לקרוא / <a href="{{ get_blog_home_url("ca") }}">Dret a Llegir</a> / Право читать / Právo číst / حق مطالعه / <a href="{{ get_blog_home_url("de") }}">Recht zu Lesen</a> / Okuma Hakkı / Rätten att läsa / <a href="{{ get_blog_home_url("en") }}">Right to Read</a> / Diritto a leggere / Pravica brati / Правото да четеш / Oikeus lukea
{% endif %}
{% endmacro %}


{#
https://duckduckgo.com/search_box
http://patdryburgh.com/blog/adding-a-custom-duckduckgo-search-bar-to-your-site/
https://duckduckgo.com/params
#}
{% macro get_searchbox(lang) -%}
{% if lang == "es" %}
<form method="get" id="search" action="http://duckduckgo.com/" style="float: right;">
    <input type="hidden" name="sites" value="derechoaleer.org"/>
    <input type="hidden" name="kl" value="ar-es"/>
    <input type="hidden" name="kp" value="-1"/>
    <input type="text" name="q" maxlength="255" placeholder="Buscar en derechoaleer.org"/>
    <input type="submit" title="Buscar con DuckDuckGo!" value="Buscar" style="" />
</form>
{% else %}
<form method="get" id="search" action="http://duckduckgo.com/" style="float: right;">
    <input type="hidden" name="sites" value="derechoaleer.org"/>
    <input type="hidden" name="kp" value="-1"/>
    <input type="text" name="q" maxlength="255" placeholder="Search in derechoaleer.org"/>
    <input type="submit" title="Search with DuckDuckGo!" value="Search" style="" />
</form>
{% endif %}
{% endmacro %}

{% macro get_footer_text(lang) -%}
{% if lang == "en" %}
<a href="/en/blog/contact-us.html">Contact Us</a> | <a href="http://creativecommons.org/licenses/by-sa/3.0/">cc-by-sa</a> | Powered by <a href="https://github.com/d-a-l/hyde">"Hyde"</a> | <a href="https://github.com/d-a-l/derechoaleer">Website code source</a> | Font <a href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a>
{% elif lang == "de" %}
Angetrieben von <a href="https://github.com/d-a-l/hyde">"Hyde"</a> | <a href="https://github.com/d-a-l/derechoaleer">Quelltext</a> | Schriftschnitt <a href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a> | <a href="http://creativecommons.org/licenses/by-sa/3.0/">cc-by-sa</a>
{% elif lang == "fr" %}
Propulsé par <a href="https://github.com/d-a-l/hyde">"Hyde"</a> | <a href="https://github.com/d-a-l/derechoaleer">Code source du site</a> | Fonte de caractères <a href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a> | <a href="http://creativecommons.org/licenses/by-sa/3.0/">cc-by-sa</a>
{% elif lang == "ca" %}
Funciona amb <a href="https://github.com/d-a-l/hyde">"Hyde"</a> | <a href="https://github.com/d-a-l/derechoaleer">Codi font</a> | Tipografia <a href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a> | <a href="http://creativecommons.org/licenses/by-sa/3.0/">cc-by-sa</a>
{% else %}
<a href="/blog/acerca-de.html">Acerca de</a> | <a href="/blog/contacto.html">Contacto</a> | Licencia: <a href="http://creativecommons.org/licenses/by-sa/2.5/ar/">cc-by-sa</a> | Generado en <a href="https://github.com/d-a-l/hyde">"Hyde"</a> | <a href="https://github.com/d-a-l/derechoaleer">Código fuente del sitio</a> | Tipografía <a href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a>
{% endif %}
{%- endmacro %}


{% macro get_back_to_home_link(lang) -%}
{% if lang == "en" %}
Back to <a class="backlink" href="/en/blog/posts.html">blog post list</a>
{% elif lang == "de" %}
Zurück zur <a class="backlink" href="/en/blog/posts.html">Blog-Beiträge Liste</a>
{% elif lang == "fr" %}
Retour à <a class="backlink" href="/en/blog/posts.html">la liste des articles</a> du blog
{% elif lang == "ca" %}
Tornar al <a class="backlink" href="/en/blog/posts.html">llistat d'articles</a> del bloc
{% else %}
Volver al <a class="backlink" href="/blog/posts.html">listado de entradas</a> del blog
{% endif %}
{%- endmacro %}


{% macro get_blog_home_url(lang) -%}
{% if lang == 'es'  %}{{ site.config.url_domain }}/blog/posts.html{% else %}{{ site.config.url_domain }}{% if lang %}/{{lang}}{% endif %}/blog/posts.html{% endif %}
{%- endmacro %}